
section {
  top: 0;
    overflow: hidden;
  }

  
  .search{
   margin: 30px;
  }

  .content-sign{
    margin-top: 100px;
    align-items: center;
  }

.search .tweets {
  padding: 10px;
  width: 100%;
  max-width: 590px;
  height: 500px;
  background-color: #303030;
  border-radius: 24px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.tweets h3 {
  color: #ffffff;
  font-size: 29px;
  font-family: "Source Sans Pro";
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweets p {
  color: #ffffff;
  font-size: 19px;
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.tweets h6{
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  font-family: "Source Sans Pro";

}


 
form {
 align-items: center;
  font-size: 14px;
  justify-content: center;
}

.type {
  width: 100%;
  padding: 10px;
  background-color: #303030;
  margin-bottom: 10px;
  border: none;
  border-radius: 24px;
  box-sizing: border-box;
  margin-top: 20px;
}

.type::placeholder {
  color: #bdbdbd; 
  font-size: 16px;
  font-weight: 500;
}

.btn-custom {
  padding: 10px;
  background-color: #9722fa;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  height: 40px;
  margin-top: 3px;
}

 form h3 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Source Sans Pro";
  font-weight: 800;
  margin-bottom: 0;
} 

 form p {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
}


@media (max-width: 992px) {
 
 .content{
  margin-top: 10px;
 }

}