.Search{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    
}
label{
    color: #ffffff;
  font-size: 16px;
  font-family: "Source Sans Pro";
  line-height: 18px;
  margin-bottom: -20px;
}
.form-group{
    margin-bottom: 30px;
}

.form-control{
    width: 100%;
    height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #303030;
  color: #bdbdbd;
  font-size: 16px;
  font-family: "Source Sans Pro";
  line-height: 20px;
  outline: none;  
  margin-top: 15px;
  white-space: nowrap;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 190px;
}

@media (max-width: 420px) {
  .form-control{
    padding-right: 0;
  }
}

.form-control span {
    color: #bdbdbd; 
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
  }

.btn-sub{
    width: 100%;
    max-width: 300px;
  height: 46px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #ffffff;
  color: #161616;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 500;
  line-height: 20px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 10px;
}
.side {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #303030;
}


.sidebar-nav .nav-link span {
  
  color: #ffffff;
  font-size: 16px;
  font-family: "Source Sans Pro";
  line-height: 21px;
  transition: 0.3;
 
}
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#Search{
  margin-bottom: 20px;
}
.sidebar-nav .nav-item {
  margin-bottom: 20px;
}

.nav-link img{
margin-right: 10px;
  width: 24px;
  height: 24px;
    border-radius: 50%; 
    

}

.sidebar-nav .nav-heading {
  font-size: 11px;

  color: #ffffff;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link svg {
  margin-right: 10px;

}

@media (max-width: 900px) {
  .Search{
    margin-left: 220px;
   }
}


@media (max-width: 720px) {
  .side{
    margin-left: -300px;
  }
  .Search{
    margin-left: 0;
   }
}

@media (min-width: 1200px) {

  #Search
  {
    margin-left: 10px;
  }
}