#Search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home .Search {
  width: 100%;

  padding: 30px;
  border-radius: 10px;
}

.home label {
  color: #ffffff;
  font-size: 16px;
  font-family: "Source Sans Pro";
  line-height: 18px;
  margin-bottom: -20px;
}

.home .form-group {
  margin-bottom: 30px;
}

.home .form-group .form-control {
  width: 100%;
  height: 48px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #303030;
  color: #bdbdbd;
  font-size: 16px;
  font-family: "Source Sans Pro";
  line-height: 20px;
  outline: none;
  margin-top: 15px;
  white-space: nowrap;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.home .form-group .inc {
  padding: 80px 20px;
}

.home .form-group .form-control span {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.home .btn-sub {
  width: 100%;
  max-width: 300px;
  height: 46px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #ffffff;
  color: #161616;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 500;
  line-height: 20px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 10px;
}





@media (max-width: 720px) {
  
  .home .Search {
    margin-left: 0;
margin-top: 50px;
  }
}

