#dashboard {
    color: #ffffff;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .chart-container {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
  }
  
  .prediction {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    max-width: 400px;  
  }
  
  .average-prediction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .prediction-accuracy {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .prediction-accuracy .icon {
    margin-left: 10px;
  }
  
  .prediction-accuracy p.accuracy-percentage {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  
  .total-tweets {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
  }
  
  .tweet-stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .stat-value {
    font-weight: bold;
  }
  
  .hide{
    visibility: hidden;
  }
  @media (max-width: 768px) {
    #dashboard {
      padding: 20px;
    }
    .hide{
        display: none;
      }
    
    .total-tweets {
      margin-top: 20px;
    }
    
    .chart-container,
    .prediction,
    .total-tweets {
      padding: 15px;
      font-size: 1rem;
    }
  
    .chart-container h5 {
      font-size: 1rem;
    }
  
    .prediction h3 {
      font-size: 1.5rem;
    }
  
    .average-prediction {
      font-size: 1rem;
    }
  
    .prediction-accuracy p.accuracy-percentage {
      font-size: 1.5rem;
    }
  
    .tweet-stat {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .stat-value {
      margin-top: 5px;
      align-self: flex-end;
    }
  }
  