.feed {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
}

.text-center h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.review-form {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  outline: none;
  background-color: #303030; /* Maintains the background color */
  color: #ffffff; /* Maintains the text color */
  border: 2px solid #9722fa; /* Adds a custom border color */
  box-shadow: none; /* Removes the default blue outline */
}

.select-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

.select-control:focus {
  outline: none;
  background-color: #303030; /* Maintains the background color */
  color: #ffffff; /* Maintains the text color */
  border: 2px solid #9722fa; /* Adds a custom border color */
  box-shadow: none; /* Removes the default blue outline */
}

.submit-btn {
  background-color: #9922fada;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #9722fa;
}

@media (max-width: 768px) {
  .text-center h2 {
    font-size: 1.5rem;
  }

  .review-form {
    padding: 20px;
  }

  .form-group label,
  .form-control,
  .select-control {
    font-size: 1rem;
  }

  .submit-btn {
    font-size: 0.9rem;
  }
}
